{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true}],
        ["@babel/plugin-transform-runtime", {"regenerator": true}],
        ["@babel/plugin-proposal-class-properties", {"loose": false}],
        "@babel/plugin-transform-spread",
        "@babel/plugin-proposal-export-default-from",
        ["@babel/plugin-syntax-dynamic-import"], ["@babel/plugin-transform-async-to-generator", {"module": "bluebird", "method": "coroutine"}]
    ]
}